#petsDiv{
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    text-align: center;
    font-style: bold;
}
.card{
    border: 3px solid darkblue;
    box-shadow: 3px 3px black;
    width: 350px;
    height: 450px;
    margin: 8px;
}

.botTxt{
    /* vertical-align: -50%; */
}

  body{
      background-color: lightblue;
  }

  img{
    height: 200px;
    width: 300px;
  }

button{
    -webkit-text-fill-color: white;
    width: 100px;
    height: 33px;
}

#All{
    background-color: purple;
}

#cat{
    background-color: rgb(19, 97, 122);
}

#dog{
    background-color: green;
}

#dino{
    background-color: orange;
}